<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

  <ui:composition template="/template.xhtml">
    <ui:define name="title">
      <h:outputText value="#{bundle.CreateWeatherTitle}"></h:outputText>
    </ui:define>
    <ui:define name="body">
      <h:panelGroup id="messagePanel" layout="block">
        <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
      </h:panelGroup>
      <h:form>
        <h:panelGrid columns="2">
          <h:outputLabel value="#{bundle.CreateWeatherLabel_id}" for="id" />
          <h:inputText id="id" value="#{weatherController.selected.id}" title="#{bundle.CreateWeatherTitle_id}" />
          <h:outputLabel value="#{bundle.CreateWeatherLabel_temperatura}" for="temperatura" />
          <h:inputText id="temperatura" value="#{weatherController.selected.temperatura}" title="#{bundle.CreateWeatherTitle_temperatura}" />
          <h:outputLabel value="#{bundle.CreateWeatherLabel_porcentaje_hum_rel}" for="porcentaje_hum_rel" />
          <h:inputText id="porcentaje_hum_rel" value="#{weatherController.selected.porcentaje_hum_rel}" title="#{bundle.CreateWeatherTitle_porcentaje_hum_rel}" />
          <h:outputLabel value="#{bundle.CreateWeatherLabel_tipo_nubosidad}" for="tipo_nubosidad" />
          <h:inputText id="tipo_nubosidad" value="#{weatherController.selected.tipo_nubosidad}" title="#{bundle.CreateWeatherTitle_tipo_nubosidad}" />
          <h:outputLabel value="#{bundle.CreateWeatherLabel_prob_precipitaciones}" for="prob_precipitaciones" />
          <h:inputText id="prob_precipitaciones" value="#{weatherController.selected.prob_precipitaciones}" title="#{bundle.CreateWeatherTitle_prob_precipitaciones}" />
          <h:outputLabel value="#{bundle.CreateWeatherLabel_dia}" for="dia" />
          <p:calendar id="dia" value="#{weatherController.selected.dia}" effect="fold" />
        </h:panelGrid>
        <br />
        <h:commandLink action="#{weatherController.create}" value="#{bundle.CreateWeatherSaveLink}" />
        <br />
        <br />
        <h:commandLink action="#{weatherController.prepareList}" value="#{bundle.CreateWeatherShowAllLink}" immediate="true"/>
        <br />
        <br />
        <h:link outcome="/index" value="#{bundle.CreateWeatherIndexLink}"/>
      </h:form>
    </ui:define>
  </ui:composition>

</html>
