<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

  <ui:composition template="/template.xhtml">
    <ui:define name="title">
      <h:outputText value="#{bundle.ListWeatherTitle}"></h:outputText>
    </ui:define>
    <ui:define name="body">
      <h:form styleClass="jsfcrud_list_form">
        <h:panelGroup id="messagePanel" layout="block">
          <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
        </h:panelGroup>
        <h:outputText escape="false" value="#{bundle.ListWeatherEmpty}" rendered="#{weatherController.items.rowCount == 0}"/>
        <h:panelGroup rendered="#{weatherController.items.rowCount > 0}">
          <h:outputText value="#{weatherController.pagination.pageFirstItem + 1}..#{weatherController.pagination.pageLastItem + 1}/#{weatherController.pagination.itemsCount}"/>&nbsp;
          <h:commandLink action="#{weatherController.previous}" value="#{bundle.Previous} #{weatherController.pagination.pageSize}" rendered="#{weatherController.pagination.hasPreviousPage}"/>&nbsp;
          <h:commandLink action="#{weatherController.next}" value="#{bundle.Next} #{weatherController.pagination.pageSize}" rendered="#{weatherController.pagination.hasNextPage}"/>&nbsp;
          <h:dataTable value="#{weatherController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
            <h:column>
              <f:facet name="header">
                <h:outputText value="#{bundle.ListWeatherTitle_id}"/>
              </f:facet>
              <h:outputText value="#{item.id}"/>
            </h:column>
            <h:column>
              <f:facet name="header">
                <h:outputText value="#{bundle.ListWeatherTitle_temperatura}"/>
              </f:facet>
              <h:outputText value="#{item.temperatura}"/>
            </h:column>
            <h:column>
              <f:facet name="header">
                <h:outputText value="#{bundle.ListWeatherTitle_porcentaje_hum_rel}"/>
              </f:facet>
              <h:outputText value="#{item.porcentaje_hum_rel}"/>
            </h:column>
            <h:column>
              <f:facet name="header">
                <h:outputText value="#{bundle.ListWeatherTitle_tipo_nubosidad}"/>
              </f:facet>
              <h:outputText value="#{item.tipo_nubosidad}"/>
            </h:column>
            <h:column>
              <f:facet name="header">
                <h:outputText value="#{bundle.ListWeatherTitle_prob_precipitaciones}"/>
              </f:facet>
              <h:outputText value="#{item.prob_precipitaciones}"/>
            </h:column>
            <h:column>
              <f:facet name="header">
                <h:outputText value="#{bundle.ListWeatherTitle_dia}"/>
              </f:facet>
              <h:outputText value="#{item.dia}"/>
            </h:column>
            <h:column>
              <f:facet name="header">
                <h:outputText value="&nbsp;"/>
              </f:facet>
              <h:commandLink action="#{weatherController.prepareView}" value="#{bundle.ListWeatherViewLink}"/>
              <h:outputText value=" "/>
              <h:commandLink action="#{weatherController.prepareEdit}" value="#{bundle.ListWeatherEditLink}"/>
              <h:outputText value=" "/>
              <h:commandLink action="#{weatherController.destroy}" value="#{bundle.ListWeatherDestroyLink}"/>
            </h:column>
          </h:dataTable>
        </h:panelGroup>
        <br />
        <h:commandLink action="#{weatherController.prepareCreate}" value="#{bundle.ListWeatherCreateLink}"/>
        <br />
        <br />
        <h:link outcome="/index" value="#{bundle.ListWeatherIndexLink}"/>
      </h:form>
    </ui:define>
  </ui:composition>

</html>
