<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

  <ui:composition template="/template.xhtml">
    <ui:define name="title">
      <h:outputText value="#{bundle.ViewWeatherTitle}"></h:outputText>
    </ui:define>
    <ui:define name="body">
      <h:panelGroup id="messagePanel" layout="block">
        <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
      </h:panelGroup>
      <h:form>
        <h:panelGrid columns="2">
          <h:outputText value="#{bundle.ViewWeatherLabel_id}"/>
          <h:outputText value="#{weatherController.selected.id}" title="#{bundle.ViewWeatherTitle_id}"/>
          <h:outputText value="#{bundle.ViewWeatherLabel_temperatura}"/>
          <h:outputText value="#{weatherController.selected.temperatura}" title="#{bundle.ViewWeatherTitle_temperatura}"/>
          <h:outputText value="#{bundle.ViewWeatherLabel_porcentaje_hum_rel}"/>
          <h:outputText value="#{weatherController.selected.porcentaje_hum_rel}" title="#{bundle.ViewWeatherTitle_porcentaje_hum_rel}"/>
          <h:outputText value="#{bundle.ViewWeatherLabel_tipo_nubosidad}"/>
          <h:outputText value="#{weatherController.selected.tipo_nubosidad}" title="#{bundle.ViewWeatherTitle_tipo_nubosidad}"/>
          <h:outputText value="#{bundle.ViewWeatherLabel_prob_precipitaciones}"/>
          <h:outputText value="#{weatherController.selected.prob_precipitaciones}" title="#{bundle.ViewWeatherTitle_prob_precipitaciones}"/>
          <h:outputText value="#{bundle.ViewWeatherLabel_dia}"/>
          <h:outputText value="#{weatherController.selected.dia}" title="#{bundle.ViewWeatherTitle_dia}"/>
        </h:panelGrid>
        <br />
        <h:commandLink action="#{weatherController.destroyAndView}" value="#{bundle.ViewWeatherDestroyLink}"/>
        <br />
        <br />
        <h:link outcome="Edit" value="#{bundle.ViewWeatherEditLink}"/>
        <br />
        <h:commandLink action="#{weatherController.prepareCreate}" value="#{bundle.ViewWeatherCreateLink}" />
        <br />
        <h:commandLink action="#{weatherController.prepareList}" value="#{bundle.ViewWeatherShowAllLink}"/>
        <br />
        <br />
        <h:link outcome="/index" value="#{bundle.ViewWeatherIndexLink}"/>

      </h:form>
    </ui:define>
  </ui:composition>

</html>
